{{- $themeColor := .Site.Params.themeColor | default "#e22d30" -}}

{{ $panel_radius := 2}}  /* 面板圆角 */
{{ $padding_left := 30}}  /* 标题左边距 */

/* 整体上边距 */
#body-container {
	margin-top: 25px;
}

/* 页面内容面板 */
#body-panel {
	padding: 0;
	border-top-left-radius: {{ $panel_radius }}px;
	border-top-right-radius: {{ $panel_radius }}px;
}

/* 主标题和副标题 */
#title-bar {
	height: 120px;
	padding-left: {{ $padding_left }}px;
	border-top-left-radius: {{ $panel_radius }}px;
	border-top-right-radius: {{ $panel_radius }}px;
	background-image: url("/img/bg.jpg");
}

/* 主标题 */
#main-title {
    font-size: 44px;
	font-weight: bold;
	color: rgb(15, 14, 14);
	padding: 15px 0 0px 0;
}

/* 副标题 */
#subtitle {
	display: inline-block;
	border-top-style: solid;
	border-top-width: 2px;
	border-top-color: #903749;
	font-size: 18px;
	font-weight: bold;
	color: #222831;
	padding: 0px 0 0 0;
}

/* 菜单栏 */
#nav-bar {
	border-radius: 0;
	background-color: #2f363c;
}
{{ $menu_height := 45 }}
#nav-bar > .layui-nav-item {
	line-height: {{$menu_height}}px;
}
.layui-nav-child {  /* 子菜单 */
	background-color: #b7b5b5;
	top: {{$menu_height}}px;
}

/* 正文区域 */
.content_area {
	padding: 25px 10px 30px 30px;
}

/* 底部导航 */
#footer {
	background-color: #2f363c;
	font-size: small;
	color: #c2c4af;
	padding: 10px 0 10px 30px;
	border-bottom-left-radius: {{ $panel_radius }}px;
	border-bottom-right-radius: {{ $panel_radius }}px;
}

/* 分页组件 */
.pagination_text {
	color: #903749;
	font-size: large;
}

.pagination_comp {
	text-align: right;
}

#current_page_number {
	line-height: 15px;
	vertical-align: middle;
	text-align: right;
	font-size: 14px;
	width: 40px;
}

/* 全局列表页大标题 */
.default_list_title {
	font-weight: bold;
	color: black;
	margin-bottom: 5px;
}

/* 博客列表页摘要标题 */
.summary_title {
	margin-bottom: 0;
}

/* 博客列表页摘要 */
.posts_summary_block {
	line-height: 160%;
	font-size: 14px;
}

{{ $summary_block_padding_left := 12 }}
.posts_summary_body {
	padding-left: {{$summary_block_padding_left}}px;
}

.posts_summary_footer {
	margin-top: 6px;
	margin-bottom: 3px;
	font-size: 13px;
	padding-left: {{$summary_block_padding_left}}px;
}

/* 博客正文页标题 */
.article_title {
    font-weight: bold;
	font-size: 28px;
	color: #222226;
	margin-bottom: 5px;
}

/* 博客正文页metadata栏 */
.article_meta_bar {
	padding: 3px 0 2px 0px;
	line-height: 20px;
}

/* 博客正文 */
.article_content {
	padding-top: 6px;
	line-height: 160%;
	font-size: 110%;
}

.sidebar_box {
	margin: 10px 5px 10px 5px;
	background-color: #f3f3f3;
	padding: 6px;
}

