{{ define "main" }}
  <header><h2 class="article_title">{{ .Title }}</h2></header>
  <div class="article_meta_bar">
      <div>{{ T "released_on" }} {{ .Date.Format "2006-01-02 15:04:05" }}</div>
      <div>
        {{if .Params.categories}}{{ T "categories" }}: {{ range .Params.categories }}{{ with index $.Site.Taxonomies.categories .}}<a href="{{ .Page.RelPermalink }}" class="layui-badge theme_color_categories" style="margin-left: 2px;">{{.Page.Title}}</a>{{end}}{{end}}{{end}}
        {{if .Params.tags}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ T "tags" }}: {{ range .Params.tags }}{{ with index $.Site.Taxonomies.tags .}}<a href="{{ .Page.RelPermalink }}" class="layui-badge theme_color_tags" style="margin-left: 2px;">{{.Page.Title}}</a>{{end}}{{end}}{{end}}
        {{if .Params.series}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ T "series" }}: {{ range .Params.series }}{{ with index $.Site.Taxonomies.series .}}<a href="{{ .Page.RelPermalink }}" class="layui-badge theme_color_series" style="margin-left: 2px;">{{.Page.Title}}</a>{{end}}{{end}}{{end}}
      </div>
  </div>
  <hr style="margin-bottom: 15px;" />
  <div class="article_content">
    {{ .Content }}
  </div>
  <hr/>
  <footer>
    <div style="text-align: center;">
      <span style="line-height: 28px;">{{T "share"}}</span>
      <span id="btn_share_weibo" lay-on="btn_share_weibo" style="height: 30px;line-height: 30px;border-width: 0;padding: 0 5px;" class="layui-btn layui-btn-primary layui-border"><i class="layui-icon layui-icon-login-weibo"></i></span>
      <span id="btn_share_qq" lay-on="btn_share_qq" style="height: 30px;line-height: 30px;border-width: 0;padding: 0 5px;margin-left: 0;" class="layui-btn layui-btn-primary layui-border"><i class="layui-icon layui-icon-login-qq"></i></span>
      <span id="btn_share_weixin" lay-on="btn_share_weixin" style="height: 30px;line-height: 30px;border-width: 0;padding: 0 5px;margin-left: 0;" class="layui-btn layui-btn-primary layui-border"><i class="layui-icon layui-icon-login-wechat"></i></span>
      &nbsp;|&nbsp;
      <span id="btn_copy_link" lay-on="btn_copy_link" style="height: 30px;line-height: 30px;border-width: 0;margin: 15;padding: 0;" class="layui-btn layui-btn-primary layui-border"><i class="layui-icon layui-icon-link"></i>{{T "copy_link"}}</span>
    </div>
    <div style="display: flex;padding: 30px 20px;">
      {{ with .PrevInSection  }}
        <a href="{{.RelPermalink}}">{{T "last_post"}} - <span>{{ .Title }}</span></a>
      {{ end }}
      <span style="flex: 1;"></span>
      {{ with .NextInSection }}
        <a href="{{.RelPermalink}}">{{T "next_post"}} - <span>{{ .Title }}</span></a>
      {{ end }}
    </div>
    <div style="display: flex;padding: 10px 20px;">
      <a id="go_back_to_previous_page" style="font-weight: 600;" lay-on="go_back_to_previous_page" href="javascript:;">{{T "go_back_to_previous_page"}}</a>
    </div>

    {{ if .Site.Params.enable_giscus }}
      <script src="https://giscus.app/client.js"
            data-repo="https://github.com/wanghaoyang1995/wanghaoyang1995.github.io.git"
            data-repo-id="[在此输入仓库 ID]"
            data-category="[在此输入分类名]"
            data-category-id="[在此输入分类 ID]"
            data-mapping="pathname"
            data-strict="0"
            data-reactions-enabled="1"
            data-emit-metadata="0"
            data-input-position="top"
            data-theme="noborder_light"
            data-lang="zh-CN"
            data-loading="lazy"
            crossorigin="anonymous"
            async>
      </script>
      <div class="layui-collapse" id="giscus_panel" style="margin-top: 10px;">
        <div class="layui-colla-item">
          <div class="layui-colla-title" style="font-weight: 500;">{{T "comment_area"}}</div>
          <div class="layui-colla-content">
            <span class="giscus"></span>
          </div>
        </div>
      </div>
    {{ end }}
    <div id="qrcode" style="display: none;"></div>
  </footer>

  <script src="/js/url_share/qrcode.min.js"></script>
  <script src="/js/url_share/share.js"></script>
  <script>
    var qrcode = new QRCode(document.getElementById("qrcode"), {
      text: window.location.href,
      width: 128,
      height: 128,
      colorDark : "#000000",
      colorLight : "#ffffff",
      correctLevel : QRCode.CorrectLevel.H
    });
  </script>
{{ end }}
