{{- if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
  <div class="pagination_comp">
    <a href="{{ .Paginator.First.URL }}">首页</a>&nbsp;&nbsp;&nbsp;&nbsp;
    {{- if .Paginator.HasPrev }}
      <a href="{{ .Paginator.Prev.URL }}">上一页</a>
    {{ else }}
      <a class="layui-disabled">上一页</a>
    {{- end }}
    &nbsp;&nbsp;{{ .Paginator.PageNumber }} / {{ .Paginator.TotalPages }}&nbsp;&nbsp;
    {{- if .Paginator.HasNext }}
      <a href="{{ .Paginator.Next.URL }}">下一页</a>
    {{ else }}
      <a class="layui-disabled">下一页</a>
    {{- end }}
    &nbsp;&nbsp;&nbsp;&nbsp;<a href="{{ .Paginator.Last.URL }}">尾页</a>
  </div>
{{- end }}
