{{- if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
  <form class="layui-form">
    <div class="pagination_comp">
      <a href="{{ .Paginator.First.URL }}">首页</a>&nbsp;&nbsp;&nbsp;&nbsp;
      {{- if .Paginator.HasPrev }}
        <a href="{{ .Paginator.Prev.URL }}">上一页</a>
      {{ else }}
        <a class="layui-disabled">上一页</a>
      {{- end }}
      &nbsp;&nbsp;<input id="current_page_number" placeholder="{{ .Paginator.PageNumber }}"/>&nbsp;&nbsp;/&nbsp;&nbsp;{{ .Paginator.TotalPages }}&nbsp;&nbsp;
      <button class="layui-btn layui-hide" lay-submit lay-filter="page-submit">提交按钮</button>
      {{- if .Paginator.HasNext }}
        <a href="{{ .Paginator.Next.URL }}">下一页</a>
      {{ else }}
        <a class="layui-disabled">下一页</a>
      {{- end }}
      &nbsp;&nbsp;&nbsp;&nbsp;<a href="{{ .Paginator.Last.URL }}">尾页</a>
    </div>
  </form>
  <script>
    {{ $current_page:= .Paginator.PageNumber }}
    {{ $max_page:= .Paginator.TotalPages }}

    layui.use(function(){
      var $ = layui.$;
      var form = layui.form;
      form.on("submit(page-submit)", function(data){
        let value = $("#current_page_number").val();
        if (value != {{$current_page}}) {
          if (value > 0 && value <= {{$max_page}}) {
            let url = "{{.RelPermalink}}page/" + value + "/";
            location.href = url;
          }
        }
        return false;
      });
    });
  </script>
{{end}}
