{{- $postsByYearMonth := dict -}}

{{- if not (.Scratch.Get "postsByYearMonth") }}
  {{ $posts := where .Site.RegularPages "Section" "posts" }}
  {{ range $index, $item := $posts.ByDate.Reverse }}
    {{- $date := .Date }}
    {{- $year := $date.Format "2006" }}
    {{- $month := $date.Format "01" }}
    {{- $link := .RelPermalink }}
    {{- $yearDict := index $postsByYearMonth $year | default (dict) }}
    {{- $monthList := index $yearDict $month | default (slice) }}
    {{- $monthList = append $link $monthList }}
    {{- $yearDict = merge $yearDict (dict $month $monthList) }}
    {{- /* json数据 */ -}}
    {{- $postsByYearMonth = merge $postsByYearMonth (dict $year $yearDict) }}
  {{- end }}
  {{- .Scratch.Set "postsByYearMonth" $postsByYearMonth }}
{{- else }}
  {{- $postsByYearMonth = .Scratch.Get "postsByYearMonth" }}
{{- end }}
