<div class="layui-card">
  {{/*<div class="layui-card-header" style="font-weight: bold; font-size: large;">Calendar</div>*/}}
  <div class="layui-card-body calendar_box">
    <div class="layui-inline" id="ID-laydate-cell-render"></div>
  </div>
</div>

<script>
  layui.use(function () {
    var laydate = layui.laydate;
    var $ = layui.$;
    var util = layui.util;

    laydate.render({
      elem: "#ID-laydate-cell-render",
      lang: "en",
      position: "static",
      isPreview: false,
      showBottom: false,
      theme: ["#257b28"],
      change: function(value, date, endDate){
        console.log(value); // 日期字符，如： 2017-08-18
        console.log(date); // 包含年月日时分秒各项值的对象
        console.log(endDate); // 结束日期时间对象，当设置 range 时才会返回。对象成员同上。
      },
      mark: {
        "2024-12-5": "生日",
        "2024-12-7": ""
      },
      cellRender: function (ymd, render, info) {
        let that = this;
        let y = ymd.year;
        let m = ymd.month;
        let d = ymd.date;

        if (!render) return;
        // 面板类型
        if (info.type === 'date') {
          let clazz = [
            'date-cell-inner',
          ].join(' ');
          let content = [
            '<div class="' + clazz + '">',
              '<b>' + d + '</b>',
            '</div>',
          ].join('');
          // render(content)
          // render($(content)[0])
          let contentEl = $(content);
          render(contentEl);
        } else if (info.type === 'year') {
        } else if (info.type === 'month') {
        }
      }
    });
  });
</script>
