<div class="layui-card">
  {{/*<div class="layui-card-header" style="font-weight: bold; font-size: large;">Calendar</div>*/}}
  <div class="layui-card-body calendar_box">
    <div class="layui-inline" id="ID-laydate-cell-render"></div>
  </div>
</div>

<script>
  layui.use(function () {
    var laydate = layui.laydate;
    var $ = layui.$;
    var util = layui.util;

    laydate.render({
      elem: "#ID-laydate-cell-render",
      lang: "en",
      position: "static",
      isPreview: false,
      showBottom: false,
      theme: ["#66815b"],
    });
  });
</script>
