<div class="layui-card">
  {{/*<div class="layui-card-header" style="font-weight: bold; font-size: large;">Calendar</div>*/}}
  <div class="layui-card-body calendar_box">
    <div class="layui-inline" id="ID-laydate-cell-render"></div>
  </div>
</div>

<script>
  let days_to_mark = null;
  layui.use(function () {
    var laydate = layui.laydate;
    var $ = layui.$;
    var util = layui.util;

    let render_calendar = function (days_to_mark) {
      laydate.render({
        elem: "#ID-laydate-cell-render",
        lang: "en",
        position: "static",
        isPreview: false,
        showBottom: false,
        theme: ["#878787"],
        change: function(value, date, endDate){
          console.log(value); // 日期字符，如： 2017-08-18
          console.log(date); // 包含年月日时分秒各项值的对象
          console.log(endDate); // 结束日期时间对象，当设置 range 时才会返回。对象成员同上。
        },
        mark: days_to_mark,
      });
    };

    $.getJSON("/post_day_mark.json", function (data) {
      render_calendar(data);
    }).fail(function (jqxhr, textStatus, error) {
      console.error('Error fetching JSON file:', textStatus, error);
      render_calendar(null);
    });
  });
</script>
