{{- $categories := .Site.Taxonomies.categories }}
<div class="layui-card">
  <div class="layui-card-header" style="font-weight: bold; font-size: large;">{{ T "categories" }}</div>
  <div class="layui-card-body">
    {{- if gt (len $categories) 0 }}
      <div class="widget-categories widget">
        <div class="widget__content">
          <ul class="widget__list">
          {{- range $name, $taxonomy := $categories }}
            {{- with $.Site.GetPage (printf "/categories/%s" $name) }}
            <li class="widget__item">
              <a class="widget__link" href="{{ .RelPermalink }}">
                <div class="layui-row">
                  <span class="layui-col-md12">{{ .Title }}<span class="layui-badge theme_color_categories">{{ $taxonomy.Count }}</span></span>
                </div>
              </a>
            </li>
            {{- end }}
          {{- end }}
          </ul>
        </div>
      </div>
    {{- end }}
  </div>
</div>
