{{- partial "year_month_list.html" . -}}

<div class="layui-card">
  <div class="layui-card-header" style="font-weight: bold; font-size: large;">{{ T "recent_title" }}</div>
  <div class="layui-card-body">
    <div class="widget-recent widget">
      {{/*<h4 class="widget__title">{{ T "recent_title" }}</h4>*/}}
      <div class="widget__content">
        <ul class="widget__list">
          {{- $show_num := 5 }}
          {{- $postsByYearMonth := .Scratch.Get "postsByYearMonth" -}}

          {{- $year_keys := slice -}}
          {{- range $key, $value := $postsByYearMonth -}}
            {{- $year_keys = append $key $year_keys -}}
          {{- end -}}
          {{- $year_keys = sort $year_keys "value" "desc" -}}
          {{- range $year_keys -}}
            {{- $year_key := . -}}
            {{- $year_obj := index $postsByYearMonth $year_key -}}

            {{- $month_keys := slice -}}
            {{- range $key, $value := $year_obj -}}
              {{- $month_keys = append $key $month_keys -}}
            {{- end -}}
            {{- $month_keys = sort $month_keys "value" "desc" -}}
            {{- range $month_keys -}}
              {{- $month_key := . -}}
              <li class="widget__item">
                <a class="widget__link" href="xxx">
                  <div class="layui-row">
                    <span class="layui-col-md12 truncate">{{ printf "%s-%s" $year_key $month_key }}</span>
                  </div>
                </a>
              </li>
            {{- end -}}
          {{- end -}}
        </ul>
      </div>
    </div>
  </div>
</div>
