
<div class="layui-card">
  <div class="layui-card-header" style="font-weight: bold; font-size: large;">{{ T "tags" }}</div>
  <div class="layui-card-body">
    {{- $tags := .Site.Taxonomies.tags }}
    {{- if gt (len $tags) 0 }}
    <div class="widget-taglist widget">
      <div class="widget__content">
      {{- range $name, $taxonomy := $tags }}
        {{- with $.Site.GetPage (printf "/tags/%s" $name) }}
        <a class="layui-badge theme_color_tags" href="{{ .RelPermalink }}" title="{{ .Title }}">
          {{- .Title -}}{{- if .Site.Params.widgets.tags_counter }} ({{ $taxonomy.Count }}){{ end -}}
        </a>
        {{- end }}
      {{- end }}
      </div>
    </div>
    {{- end }}
  </div>
</div>
